/* Definindo estilos básicos para todos os elementos */
* {
    padding: 0px; /* Define padding como 0 para todos os elementos */
    margin: 0px; /* Define margin como 0 para todos os elementos */
    box-sizing: border-box; /* Define a caixa de modelo como border-box para todos os elementos */
}

/* Estilos para o cabeçalho */
header {
    background-color: rgb(70, 70, 70); /* Define a cor de fundo */
    padding: 10px; /* Adiciona espaçamento interno */
    display: flex; /* Usa flexbox para alinhar itens */
    justify-content: space-between; /* Alinha os itens no cabeçalho */
    align-items: center; /* Alinha os itens verticalmente no cabeçalho */
}

/* Estilos para o logotipo no cabeçalho */
header .logo {
    font-size: 26px; /* Define o tamanho da fonte */
    font-weight: bold; /* Define o peso da fonte como negrito */
}

/* Estilos para os itens de lista no cabeçalho */
header ul, li, a {
    display: flex; /* Usa flexbox para alinhar os itens da lista */
    gap: 13px; /* Adiciona espaço entre os itens */
    text-decoration: none; /* Remove a decoração de texto */
}

/* Estilos para os links no cabeçalho */
header a {
    color: rgb(245, 245, 245); /* Define a cor do texto */
    font-size: 15px; /* Define o tamanho da fonte */
    transition: color 0.5s; /* Adiciona uma transição suave para a cor do texto */
}

/* Estilos para os cabeçalhos de terceiro nível */
h3 {
    text-align: center; /* Centraliza o texto */
    font-size: 26px; /* Define o tamanho da fonte */
    padding: 15px; /* Adiciona espaçamento interno */
}

/* Estilos para a seção principal */
section {
    padding: 20px; /* Adiciona espaçamento interno */
    display: flex; /* Usa flexbox para organizar os elementos */
    justify-content: flex-start; /* Alinha os elementos à esquerda */
    flex-wrap: wrap; /* Permite que os elementos quebrem linha conforme necessário */
    width: 80%; /* Define a largura da seção */
    margin: 0 auto; /* Centraliza a seção na página */
}

/* Estilos para cada artigo na seção */
article {
    padding: 20px; /* Adiciona espaçamento interno */
    flex-grow: 1; /* Permite que os artigos cresçam para preencher o espaço disponível */
    max-width: 600px; /* Define a largura máxima do artigo */
    width: 270px; /* Define a largura do artigo */
}

/* Estilos para imagens */
img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura disponível */
    max-width: 600px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para parágrafos */
p {
    text-align: center; /* Centraliza o texto */
    font-weight: bold; /* Define o peso da fonte como negrito */
    color: rgb(0, 0, 0); /* Define a cor do texto */
}

/* Media query para telas menores que 600px */
@media (max-width: 600px) {
    /* Estilos modificados para telas menores */
    header .logo {
        font-size: 42px; /* Aumenta o tamanho do logotipo */
    }

    header ul, li, a {
        display: block; /* Altera a exibição para blocos */
        font-size: 36px; /* Aumenta o tamanho do texto */
    }

    article {
        max-width: 100%; /* Faz com que os artigos ocupem toda a largura disponível */
    }

    section {
        width: 90%; /* Reduz a largura da seção */
    }
}